In [60]:
import pandas as pd
train_df_10 = pd.read_csv("NSLKDD_top_10_TRAIN.csv")
test_df_10 = pd.read_csv("NSLKDD_top_10_TEST.csv")

In [61]:
train_df_10

,same_srv_rate,dst_host_srv_serror_rate,dst_host_serror_rate,serror_rate,srv_serror_rate,dst_host_srv_count,dst_host_same_srv_rate,logged_in,flag,count,attack
0,0.08,0.00,0.00,0.0,0.0,1,0.00,0,9,13,1
1,0.05,1.00,1.00,1.0,1.0,26,0.10,0,5,123,0
2,1.00,0.01,0.03,0.2,0.2,255,1.00,1,9,5,1
3,1.00,0.00,0.00,0.0,0.0,255,1.00,1,9,30,1
4,0.16,0.00,0.00,0.0,0.0,19,0.07,0,1,121,0
...,...,...,...,...,...,...,...,...,...,...,...
125967,0.14,1.00,1.00,1.0,1.0,25,0.10,0,5,184,0
125968,1.00,0.00,0.00,0.0,0.0,244,0.96,0,9,2,1
125969,1.00,0.00,0.72,0.0,0.0,30,0.12,1,9,1,1
125970,0.06,1.00,1.00,1.0,1.0,8,0.03,0,5,144,0
125971,1.00,0.00,0.00,0.0,0.0,77,0.30,1,9,1,1

In [62]:
test_df_10

,same_srv_rate,dst_host_srv_serror_rate,dst_host_serror_rate,serror_rate,srv_serror_rate,dst_host_srv_count,dst_host_same_srv_rate,logged_in,flag,count,attack
0,0.08,0.00,0.00,0.0,0.0,1,0.00,0,9,13,1
1,0.05,1.00,1.00,1.0,1.0,26,0.10,0,5,123,0
2,1.00,0.01,0.03,0.2,0.2,255,1.00,1,9,5,1
3,1.00,0.00,0.00,0.0,0.0,255,1.00,1,9,30,1
4,0.16,0.00,0.00,0.0,0.0,19,0.07,0,1,121,0
...,...,...,...,...,...,...,...,...,...,...,...
125967,0.14,1.00,1.00,1.0,1.0,25,0.10,0,5,184,0
125968,1.00,0.00,0.00,0.0,0.0,244,0.96,0,9,2,1
125969,1.00,0.00,0.72,0.0,0.0,30,0.12,1,9,1,1
125970,0.06,1.00,1.00,1.0,1.0,8,0.03,0,5,144,0
125971,1.00,0.00,0.00,0.0,0.0,77,0.30,1,9,1,1

In [63]:
train_df_15 = pd.read_csv("NSLKDD_top_15_TRAIN.csv")
test_df_15 = pd.read_csv("NSLKDD_top_15_TEST.csv")

In [64]:
train_df_6 = pd.read_csv("NSLKDD_top_6_TRAIN.csv")
test_df_6 = pd.read_csv("NSLKDD_top_6_TEST.csv")

In [65]:
train_x_10 = train_df_10.drop(labels=['attack'],axis=1)
train_y_10 = train_df_10['attack']

In [66]:
test_x_10 = test_df_10.drop(labels=['attack'],axis=1)
test_y_10 = test_df_10['attack']

In [67]:
train_x_15 = train_df_15.drop(labels=['attack'],axis=1)
train_y_15 = train_df_15['attack']

In [68]:
test_x_15 = test_df_15.drop(labels=['attack'],axis=1)
test_y_15 = test_df_15['attack']

In [69]:
train_x_6 = train_df_6.drop(labels=['attack'],axis=1)
train_y_6 = train_df_6['attack']

In [70]:
test_x_6 = test_df_6.drop(labels=['attack'],axis=1)
test_y_6 = test_df_6['attack']

In [71]:
from sklearn.ensemble import RandomForestClassifier
clf_10 = RandomForestClassifier()
clf_10.fit(train_x_10,train_y_10)

RandomForestClassifier()

In [72]:
clf_15 = RandomForestClassifier()
clf_15.fit(train_x_15,train_y_15)

RandomForestClassifier()

In [73]:
clf_6 = RandomForestClassifier()
clf_6.fit(train_x_6,train_y_6)

RandomForestClassifier()

In [74]:
from sklearn.metrics import classification_report,accuracy_score
ypred_10 = clf_10.predict(test_x_10)
ypred_10

array([2, 0, 1, ..., 1, 0, 1])

In [75]:
clf_15 = RandomForestClassifier()
clf_15.fit(train_x_15,train_y_15)

RandomForestClassifier()

In [76]:
ypred_15 = clf_15.predict(test_x_15)

In [77]:
clf_6 = RandomForestClassifier()
clf_6.fit(train_x_6,train_y_6)

RandomForestClassifier()

In [78]:
ypred_6 = clf_6.predict(test_x_6)

In [79]:
print(classification_report(test_y_10,ypred_10))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99     45927
           1       0.98      0.99      0.98     67342
           2       0.96      0.98      0.97     11656
           3       0.79      0.76      0.78       995
           4       1.00      0.12      0.21        52

    accuracy                           0.98    125972
   macro avg       0.95      0.76      0.78    125972
weighted avg       0.98      0.98      0.98    125972

In [80]:
print(f'top_10{classification_report(test_y_10,ypred_10)}')

top_10              precision    recall  f1-score   support

           0       0.99      0.98      0.99     45927
           1       0.98      0.99      0.98     67342
           2       0.96      0.98      0.97     11656
           3       0.79      0.76      0.78       995
           4       1.00      0.12      0.21        52

    accuracy                           0.98    125972
   macro avg       0.95      0.76      0.78    125972
weighted avg       0.98      0.98      0.98    125972

In [81]:
print(f'top_15{classification_report(test_y_15,ypred_15)}')

top_15              precision    recall  f1-score   support

           0       1.00      1.00      1.00     45927
           1       1.00      1.00      1.00     67342
           2       1.00      1.00      1.00     11656
           3       1.00      0.99      1.00       995
           4       0.98      0.98      0.98        52

    accuracy                           1.00    125972
   macro avg       1.00      0.99      0.99    125972
weighted avg       1.00      1.00      1.00    125972

In [82]:
print(f'top_6{classification_report(test_y_6,ypred_6)}')

top_6              precision    recall  f1-score   support

           0       0.99      0.91      0.95     45927
           1       0.88      0.96      0.92     67342
           2       0.75      0.61      0.67     11656
           3       0.76      0.16      0.26       995
           4       0.75      0.06      0.11        52

    accuracy                           0.91    125972
   macro avg       0.82      0.54      0.58    125972
weighted avg       0.91      0.91      0.90    125972